* {box-sizing: border-box;
   margin: 0;
   padding: 0;}


.h250 {height: 150px;}
.h20 {height: 20%;}
.h30 {height: 30%;}
.h50 {height: 50%;}

.aiCenter {align-items: center;}
.jcCenter {justify-content: center;}
.flex {display: flex;}
.wrap {flex-wrap: wrap;}
.row {flex-direction: row;}
.jcSB {justify-content: space-between;}

.red {background-color:#900022;}
.white {color: white;}

.marginMenu1 {margin-left: 10px;
             margin-right: 10px;
             font-size: 11px;}

.marginMenu2 {margin-left: 10px;
              margin-right: 10px;
              font-size: 14px;}

.textMenu {color: #1a1a1a;
           text-transform: uppercase;
           text-decoration: none;
           font-family: 'Fira Sans', sans-serif;}

.firstLink {color: #900022;}
.marginMenu1:hover {color: rgba(0, 0, 0, 0.60);}
.marginMenu2:hover {color: rgba(0, 0, 0, 0.60);}
.marginAuto {margin: auto;}
.margin15 {margin: 15px}
.textCenter {text-align: center;}

.svgLogo {width: 308px;
          height: 42px;}

.leftMenu {text-transform: uppercase;
           text-decoration: none;
           font-family: 'Fira Sans', sans-serif;
           font-size: 12px}

.btn {
      padding: 10px 20px;
      background-color: #c9002f;
      border: white solid 3px;
      border-radius: 25px;}